{% extends 'base/template.html' %}
{% load static %}
{% block content %}
	<div id="box">
		<img id="succes-icon" src="{% static 'images/check.png' %}">
		<h4>Thank you for your contribution!</h4>
		<p>We are grateful to you for extending your support to us at our time of need. It is due to your persistence and commitment that we have been able to generate  .Thank you once again for your contribution..</p>
		<hr>
		<a class="myButton" href="{% url 'index' %}">&#x2190;Back to donation page</a>
	</div>

{% endblock content %}